@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Black&family=Aref+Ruqaa&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inika&family=Inter:wght@200;300;500;700;900&family=League+Spartan:wght@100;300;400;500&family=Open+Sans:wght@300;400&family=Poppins&family=Raleway:wght@800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik+Doodle+Shadow&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}


header{
    padding: 30px;
    /* padding-top: 40px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100vw;
}
nav, ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

ul{
    gap: 40px;
    font-family: "Exo 2", sans-serif;
}

li{
    color: #428999;
    font-weight: 600;
}

nav img{
    margin: 0;
    padding: 0;
    width: 50px;
    border-radius: 50%;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-form{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Roboto Flex", sans-serif;
}

.container-form input{
    max-width: 80vw;
    min-width: 800px;
    /* height: 50px; */
    border-radius: 5px;
    border-width: 1px;
    border-color: #428999;
    padding: 20px 15px;
    font-size: larger;
    font-weight: 100;

}

.container-form  select{
    max-width: 80vw;
    min-width: 80%;
    /* height: 50px; */
    border-radius: 5px;
    border-width: 1px;
    padding: 20px 15px;
    font-size: larger;

}

/* .container-form span{
    justify-content: flex-start;
} */

@media screen and (max-width:768px){
    .container-form input,
    .container-form select{
        min-width: 400px;
    }
}
@media screen and (max-width:576px){
    .container-form input,
    .container-form select{
        min-width: 300px;
    }
    ul{
        display: none;
    }
}
@media screen and (max-width:320px){
    .container-form input,
    .container-form select{
        min-width: 200px;
    }
}